{% extends 'main.html' %}
{% block content %}

<h1>Payments</h1>


<table>
    <tr>
        
        <th>First Name</th>
        <th>Last Name</th>
        <th>Amount</th>
        <th>CC</th>
        <th>Description</th>
        <td></td>
        <td></td>
    </tr>
    {% for payment in payments %}
    <tr>
        <td>{{payment.first_name}}</td>
        <td>{{payment.last_name}}</td>
        <td>{{payment.amount}}</td>
        <td>{{payment.cc}}</td>
        <td>{{payment.description}}</td>
        <td><a href="{% url 'update-payment' payment.id %}">Edit</a></td>
        <td><a href="{% url 'payment' payment.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}